small {
  display: block;
}

.gutt-text {
  text-align: left;
}

.gutt-img {
  width: 100%;
}

.left-side img {
  width: 200%;
}

.register-button a {
  text-decoration: none;
  background-color: whitesmoke;
  padding: 15px;
  border-radius: 5%;
}

.companies-section {
  visibility: visible;
}

@media only screen and (max-width: 576px) {
  .companies-section {
    visibility: hidden;
  }
}

@media only screen and (max-width: 766px) and (min-width: 577px) {
  .companies-section {
    visibility: hidden;
  }
}
